python 3.10


pip3 install -r requirement.txt
- numpy
- torch
- soundfile
- scikit-learn
- tqdm
- tensorboard
- wget
- matplotlib
- librosa
- timm==0.4.5
- torchaudio
- thop
- pandas
- torchinfo
- h5py
- trainsformers